<div class="textos-medianos">El mensaje se envió correctamente!</div>
<br>
<div class="textos-medianos-light">
    <p>Gracias por el mensaje <span class="textos-medianos-bold">{{ info }}</span>!!, nos estaremos comunicando a la brevedad por teléfono al: <span class="textos-medianos-bold">{{ telefono }}</span> o vía mail al: <span class="textos-medianos-bold">{{ mail }}</span>.</p>
    <br>
    
</div>
<br>
<span><hr></span>
    <div class="contacto-pie">
        <div class="c9 logo-septima-class">
            <img id="logo-septima" src="_svg/logo_SCR_01.svg" alt="">
        </div>
        <div class="c10 logo-codorniu-class">
            <img id="logo-codorniu" src="_svg/logo_SCR_02.svg" alt="">
        </div>
    <br>
    <br>
    <span><hr></span>
    <br>
        <div>    
            <a class="c13 boton-envio" href="http://localhost:3000">Hacé otro registro!</a>
        </div>
 
    </div>
<!-- viene de la parte de la app "res.render('mensajeEnviado', {info: info.response});" -->

